body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.profile-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    
}

.profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.name {
    font-size: 24px;
    color: #333;
    margin: 10px 0;
}

.bio {
    font-size: 16px;
    color: #666;
    margin: 10px 0;
}

.social-links {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.social-links li {
    margin: 0 10px;
}

.social-links a {
    text-decoration: none;
    color: #007bff;
}

.social-links a:hover {
    text-decoration: underline;
}
